h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 95%;
	line-height: 1.5em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Section Inner */
div.section-inner {
	max-width: 1105px;
	padding: 0 25px;
	margin: 0 auto;
}

/* Header */
div.header {
	background-color: #0f3b5e;
	padding: 40px 0px;
}

/* Navigation */
div.nav {
	width: 100%;
}

div.nav ul {
	margin: 0;
	padding: 0;
}

div.nav ul li{
	list-style: none;
	float: right;
	font-size: 93%;
	background-color: #0f3b5e;
	
	
}

div.nav ul li a:hover{
	background-color: #cf1717;
}
div.nav ul li a:link,
div.nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
}


div.section-inner-nav-footer ul li {
	list-style: none;
	color: white;
}

div.section-inner-nav-footer ul li a:link,
div.section-inner-nav-footer ul li a:visited {
	display: block;
	padding: 0px;
	text-decoration: none;
	color: white;
}

div.section-inner-nav-footer {
	max-width: 1105px;
	padding: 0 0px;
	margin: 0 auto;
}

div.section-inner-right-footer {
	max-width: 1105px;
	padding: 0 0px;
	margin: 0 auto;
}

div.left-footer-nav {
	width: 45%;
	float: left;
	margin-right: 5%;
}

div.right-footer-nav {
	width: 45%;
	float: left;
	margin-right: 5%;
	text-align: right;
}

/* Body Content */
div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Ones */
div.ones {
	padding-bottom: 50px;
}

div.one-one {
	width: 100%;
	margin-right: 0%;
}

div.one-one-last {
	margin: 0;
}

div.one-one > h2 {
	background-color: #0f3b5e;
	width: 38%;
	padding: 10px 10px 10px 10px;
	color: white;
}

#map {
  width: 100%;
  background-color: grey;
}

.iframe {
  width: 100%;
  height: 600px;
  background-color: grey;
}


/* Thirds */
div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}

div.one-third-last {
	margin: 0;
}

div.one-third > h2 {
	background-color: #0f3b5e;
	width: 55%;
	padding: 10px 10px 10px 10px;
	color: white;
}

/* Halfs */
div.half {
	padding-bottom: 50px;
}

div.one-half {
	width: 45%;
	float: left;
	margin-right: 5%;
}

div.one-half > h2 {
	background-color: #0f3b5e;
	width: 55%;
	padding: 10px 10px 10px 10px;
	color: white;
}


div.one-half-last {
	margin: 0;
}

/* Forths */

div.forth {
	padding-bottom: 50px;
}

div.one-forth {
	width: 20%;
	float: left;
	margin-right: 5%;
}

div.test {
	display: table-cell;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}

div.one-forth-last {
	margin: 0;
}

/* Main Column */
div.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}

div.main > h2 {
	background-color: #0f3b5e;
	width: 38%;
	padding: 10px 10px 10px 10px;
	color: white;
}

/* Side Column */
div.side {
	width: 30%;
	float: left;
}

/* Info Box */
div.info-box-a {
	background-color: #FFA07A;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

div.info-box-b {
	background-color: #6495ED;
	float: left;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

div.info-box-c {
	background-color: #FFA07A;
	float: left;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}


/* Footer */

div.nav_footer {
	background-color: #0f3b5e;
	color: white;
	padding: 25px 0px;
	margin: 0 auto;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }